### Import Packages

In [45]:
import pandas as pd

### Create Data Source

Ideally, this should be parameterized so that you can specify a file type, path, and options for importing

In [46]:
def import_data(file_type, file_path):
    """
    Imports data into a dataframe
    file_type: str, defines the type of file, currently only supports csv
    file_path: str, file path of file to be used
    """
    if file_type == 'csv':
        df = pd.read_csv(file_path)
    return df

In [47]:
#df again outside of function
df = import_data('csv','datasets/TestFile/TestFile.csv')
# Put this file path to git

### View Sample Data

In [48]:
print(df.head())

                                test_text test_currency test_date  test_float  \
0                                     NaN   $66,300.00     3/9/85    66300.00
1  this description is 37 characters long           NaN       NaN         NaN
2                                                $0.00        NaN        0.00
3    Proper capitalization for a sentence   $72,000.37    2/12/17    72000.37
4             ALL UPPERCASE CAUSE WHY NOT     ($127.27)       NaN     -127.27

   test_float2  test_int  test_int2  test_flag  test_flag2  test_percentage
0     66300.00   66300.0        NaN        NaN         NaN              NaN
1          NaN       NaN        NaN        NaN         NaN              NaN
2         0.00       0.0        NaN        NaN         NaN              NaN
3     72000.37   72000.0        NaN        NaN         NaN              NaN
4      -127.00    -127.0        NaN        NaN         NaN              NaN

### Get general statistics in case this is helpful

In [49]:
df.shape

(5, 10)

### Define functions

In [50]:
def get_data_type(col):
    """
    Determines the datatype of a column in the dataframe. Begins with what pandas provides,
    and expands. In future, should return a "subtype", like a string that is currency. This
    may then be useful for modifying data, such as turning currency into float. Is float
    really float or is it int with empty decimals?
    
    If no values are found at all, defaults to Float64, so when count=count_null should change data_type
    to [none], but still keep in mind that for purposes of df is still float. At this point, all values
    should be set to "NA" and field flag as empty set.
    
    col: index of column being analyzed
    """
    data_type = df.dtypes[col]
    
    return data_type

In [51]:
def check_for_null(col):
    """
    Determines if column has null data
    """
    has_null = df.shape[0] != df[df.columns[col]].count()
    
      #.count only includes non-nulls
    return has_null

In [52]:
def check_for_blank(col):
    """
    Determines if field has any blanks. 
    """
    if data_type == 'object':     
         if any(df[df.columns[col]].str.strip() == ''):
             has_blank = 'True'
         else:
             has_blank = 'False'
    else:
        has_blank = 'NA'
    
    return has_blank

In [53]:
def get_count_zero(col):
    """
    Determines count of zeros for numeric fields. 
    """
    if data_type in ('int64', 'datetime64[ns]', 'float64') :
        
        count_zero = len(df[df[df.columns[col]] == 0])
        percent_zero = round(count_zero/row_count,2)
    else:
        count_zero= 'NA'
        percent_zero = 'NA'
    
    return count_zero, percent_zero

In [54]:
def get_count_null(col):
    """
    Determines count of nulls in this column. 
    """

    count_null = len(df[df[df.columns[col]].isnull()])
    percent_null = round(count_null / row_count,2)

    return count_null, percent_null

In [55]:
def get_count_blank(col):
    """
    Determines count of blanks in this column. 
    """
    if data_type == 'object':
        
        count_blank = len(df[df[df.columns[col]].str.strip() == ''])
        percent_blank = round(count_blank/row_count,2)
    else:
        count_blank = 'NA'
        percent_blank = ''
    
    return count_blank,percent_blank

In [56]:
def get_length(col):
    """
    provides length information for column
    """
    if data_type == 'object':
        max_length = df[df.columns[col]].str.len().max()
        min_length = df[df.columns[col]].str.len().min()
    else:
        max_length = 'NA'
        min_length = 'NA'
    
    return min_length, max_length

In [65]:
def get_min_max(col):
    """
    provides min/max information for column
    """
    if data_type in ('int64', 'datetime64[ns]', 'float64') :
    
        max_value = df[df.columns[col]].max() 
        min_value = df[df.columns[col]].min() 
 
    else:
        max_value = 'NA'
        min_value = 'NA'
    
    return min_value, max_value

### Compile results

In [68]:
results = [] #list to store output

row_count = df.shape[0]

col = 0
while col < len(df.columns): 
    column_name = df.columns[col]

    count_distinct = df[df.columns[col]].nunique()
    unique_percent = round(count_distinct/row_count,2)
    
    data_type=get_data_type(col)
    


    
    count_zero = get_count_zero(col)[0]
    percent_zero = get_count_zero(col)[1]
    count_null = get_count_null(col)[0]
    percent_null = get_count_null(col)[1]
    count_blank = get_count_blank(col)[0]
    percent_blank = get_count_blank(col)[1]
    
    min_length = get_length(col)[0]
    max_length = get_length(col)[1]
    
    min_value = get_min_max(col)[0]
    max_value = get_min_max(col)[1]
    
    
    
    results.append({'column_name' : column_name,\
                    'count_distinct' : count_distinct,\
                    'unique_percent' : unique_percent,\
                    'data_type' : data_type ,\
                    'count_zero' : count_zero,\
                    'percent_zero' : percent_zero,\
                    'count_null' : count_null,\
                    'percent_null' : percent_null,\
                    'count_blank' : count_blank,\
                    'percent_blank' : percent_blank,\
                    'min' : min_value,\
                    'max' : max_value,\
                    'shortest_string' : min_length,\
                    'longest_string' : max_length
                   }
                  )
   
    col += 1
    
pd.DataFrame(results, columns=['column_name', 'count_distinct', 'unique_percent','data_type','count_zero','percent_zero','count_null','percent_null','count_blank','percent_blank','min','max','shortest_string','longest_string']) #reads the list in a table format=

,column_name,count_distinct,unique_percent,data_type,count_zero,percent_zero,count_null,percent_null,count_blank,percent_blank,min,max,shortest_string,longest_string
0,test_text,4,0.8,object,NA,NA,1,0.2,1,0.2,NA,NA,2,38
1,test_currency,4,0.8,object,NA,NA,1,0.2,0,0,NA,NA,6,11
2,test_date,2,0.4,object,NA,NA,3,0.6,0,0,NA,NA,6,7
3,test_float,4,0.8,float64,1,0.2,1,0.2,NA,,-127.27,72000.4,NA,NA
4,test_float2,4,0.8,float64,1,0.2,1,0.2,NA,,-127,72000.4,NA,NA
5,test_int,4,0.8,float64,1,0.2,1,0.2,NA,,-127,72000,NA,NA
6,test_int2,0,0.0,float64,0,0,5,1.0,NA,,NaN,NaN,NA,NA
7,test_flag,0,0.0,float64,0,0,5,1.0,NA,,NaN,NaN,NA,NA
8,test_flag2,0,0.0,float64,0,0,5,1.0,NA,,NaN,NaN,NA,NA
9,test_percentage,0,0.0,float64,0,0,5,1.0,NA,,NaN,NaN,NA,NA